#logging:
#  level:
#    org.springframework.security: TRACE
    
hystrix:
  command:
    default:
      execution:
        isolation:
          thread:
            timeoutInMilliseconds: 10000
ribbon:
  ReadTimeout: 20000
  ConnectTimeout: 20000
server:
  port: 8761
#security:
#  oauth2:
#    resource:
#      user-info-uri: http://auth-service:5000/uaa/users/current