server:
  port: 8082
eureka:
  instance:
    prefer-ip-address: true
  client:
    serviceUrl:
      defaultZone: http://discovery-service:8761/eureka/
ribbon:
  ReadTimeout: 20000
  ConnectTimeout: 20000
logging:
  level:
    org.springframework.security: TRACE
#    org.springframework.web: TRACE
    org.hibernate: ERROR
hystrix:
  command:
    default:
      execution:
        isolation:
          strategy: SEMAPHORE
          semaphore: 
            maxConcurrentRequests: 100000
        timeout:
          enabled: false
      circuitBreaker:
        enabled: false
      fallback:
        enabled: false        
feign:
  hystrix:
    enabled: false