#logging:
#  level:
#    org.springframework.security: TRACE
    
hystrix:
  command:
    default:
      execution:
        isolation:
          thread:
            timeoutInMilliseconds: 10000

eureka:
  instance:
    prefer-ip-address: true
  client:
    serviceUrl:
      defaultZone: http://discovery-service:8761/eureka/
ribbon:
  ReadTimeout: 20000
  ConnectTimeout: 20000
zuul:
  ignore-security-headers: false
  ignored-headers:
    
  host:
    connect-timeout-millis: 20000
    socket-timeout-millis: 20000
turbine:
    clusterNameExpression: new String("default")
    # TODO: Add all Hystrix Applications
    appConfig: api-gateway-service
server:
  port: 4000